<div class = "vendor-sign-up-header text-center">
    <h1>Add A Service </h1>
    <h4>Add a service to <%=@vendor.name%>'s listings</h4>
</div>
<section class = "vendor-sign-up">
  <div class="col-md-8 offset-2 sign-up-form">
    <%= simple_form_for @service, url: vendor_services_path(@vendor) do |f| %>
      <%= f.input :name, label: false, placeholder: "Service Name (e.g. Box braids)", input_html: {class: "form-control form-control-sm" } %> 
      <%= f.input :description, label: false, placeholder: 'Description of service (e.g. "Box braids done with kanekalon hair. Hair not included.")', input_html: {class: "form-control form-control-sm" } %>
      <%= f.input :tag_ids, as: :select, collection: Tag.order(:name), label_method: :name, input_html: {multiple: true}, label: "Select Categories" %>
      <div class = "row">
        <div class = "col-md-6">
          <%= f.input :hours, label: "Duration in Hours", collection: [0, 1, 2, 3, 4, 5 , 6, 7, 8], input_html: {class: "form-control form-control-sm"} %>
        </div>
        <div class = "col-md-6">
          <%= f.input :minutes, label: "Duration in Minutes", collection: [0, 15, 30, 45], input_html: {class: "form-control form-control-sm"} %>
        </div>
      </div>
      <div class = "row">
        <p class = "service-modal-box text-center">If the service has a precise price, fill out the fixed price box. If the service has a price range (e.g. $30 - $50), fill out the price range. <strong>Note: If you give a cost range, users will not be able to pay you online.</strong>. Only fill out one cost field.
        <div class = "col-md-6">
          <% if @vendor.country == "BS"%>
            <%= f.input :cost_absolute, as: :currency, label: false, placeholder: "Fixed Price", currency:"BSD", input_html: {class: "form-control form-control-sm" } %>
          <% elsif @vendor.country == "JM"%>
            <%= f.input :cost_absolute, as: :currency, label: false, placeholder: "Fixed Price", input_html: {class: "form-control form-control-sm" } %>
          <% elsif @vendor.country == "TT"%>
            <%= f.input :cost_absolute, as: :currency, label: false, placeholder: "Fixed Price", currency:"TTD", input_html: {class: "form-control form-control-sm" } %>
          <% elsif @vendor.country == "TC"%>
            <%= f.input :cost_absolute, as: :currency, label: false, placeholder: "Fixed Price",  currency:"USD", input_html: {class: "form-control form-control-sm" } %>
          <% elsif @vendor.country == "BB"%>
            <%= f.input :cost_absolute, as: :currency, label: false, placeholder: "Fixed Price",  currency:"BBD", input_html: {class: "form-control form-control-sm" } %>
          <% elsif @vendor.country == "AG"%>
            <%= f.input :cost_absolute, as: :currency, label: false, placeholder: "Fixed Price", currency:"ECD", input_html: {class: "form-control form-control-sm" } %>
          <% end %>
        </div>
        <div class = "col-md-6">
          <%= f.input :cost_range, label: false, placeholder: "Price Range", input_html: {class: "form-control form-control-sm" } %>
        </div>
      </div>
      <%= f.submit "Add Service", class: 'btn btn-primary' %> 
      <br />
      <br />
      <br />
      <br />
    <% end %>
  </div>
</section>
