<body class = "business-background">

  <section class="slice slice-sm">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="text-center pt-lg-md">
            <h2 class="heading h1 mb-4">
              Take your business to the next level.
            </h2>
            <p class="lead lh-180">
              Enstyle.me allows you to bring your style and beauty business online, giving you time to do what you do best.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="slice-lg">
    <div class="container">
      <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space">
        <div class="col-lg-6 order-lg-2 ml-lg-auto">
          <div class="block block-image">
            <%= image_tag "computer-screen.jpg", class: "img-fluid img-center"%>
          </div>
        </div>
        <div class="col-lg-5 order-lg-1">
          <div class="row-wrapper">
            <div class="row">
              <div class="col">
                <div class="d-flex align-items-start">
                  <div class="icon icon-lg">
                    <i class="far fa-calendar-check"></i>
                  </div>
                  <div class="icon-text">
                    <h3 class="heading h4">Easier Booking</h3>
                    <p>Taking bookings over the phone is a hassle. Set your availability to allow customers to book online. Reduce no-shows with automatic client reminders sent via SMS and email.</p>
                    <br />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="d-flex align-items-start">
                  <div class="icon icon-lg">
                    <i class="far fa-credit-card"></i>
                  </div>
                  <div class="icon-text">
                    <h3 class="heading h4">Accept Payments Online</h3>
                    <p>Secure your bookings by letting customers pay deposits or full price for their services online. Receive your money when you want it. Less cash, less hassle.</p>
                    <br />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="d-flex align-items-start">
                  <div class="icon icon-lg">
                    <i class="fas fa-briefcase"></i>
                  </div>
                  <div class="icon-text">
                    <h3 class="heading h4">Build your Online Reputation</h3>
                    <p>Your customers can leave reviews and photos of your work to promote to potential new customers. Build your business reputation to a wider audience.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="slice slice-xl pb-5">
    <div class="container">
      <div class="row align-items-center mb-lg-lg">
        <div class="col-lg-4">
          <div class="mb-lg mb-lg-0 text-center text-lg-left">
            <h3 class="heading h3">Enstyle.me Features</h3>
            <p class="mt-3">We've designed all these features to make your life -- and business -- easier.</p>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-6">
              <div class="card bg-lighter mb-lg mb-lg-0">
                <div class="px-3">
                  <%= image_tag "macbook-screen.png", class:"card-img z-depth-2" %>
                </div>
                <div class="card-body">
                  <h5 class="card-title mb-2">Business Profile</h5>
                  <p class="card-text ">Manage your business profile page with service listings, discounts and promotions, and photos of your work.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card bg-lighter mb-lg mb-lg-0">
                <div class="px-3">
                  <%= image_tag "macbook-screen.png", class:"card-img z-depth-2" %>
                </div>
                <div class="card-body">
                  <h5 class="card-title mb-2">Calendar Management</h5>
                  <p class="card-text">Manage your calendar by setting your hours, vacation days - even lunch breaks! Check your calendar to view your upcoming appointments.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card bg-lighter mb-lg mb-lg-0">
            <div class="px-3">
              <%= image_tag "macbook-screen.png", class:"card-img z-depth-2" %>
            </div>
            <div class="card-body">
              <h5 class="card-title mb-2">Client Bookings Online</h5>
              <p class="card-text">Clients can select a service your offer and book it online, instantly. You get an email and text message letting you know you've been booked!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-lighter mb-lg mb-lg-0">
            <div class="px-3">
              <%= image_tag "macbook-screen.png", class:"card-img z-depth-2" %>
            </div>
            <div class="card-body">
              <h5 class="card-title mb-2">Online Payments</h5>
              <p class="card-text">Allow your clients to pay deposits and full price online to secure their bookings. Never wait on a deposit again!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-lighter mb-lg mb-lg-0">
            <div class="px-3">
              <%= image_tag "macbook-screen.png", class:"card-img z-depth-2" %>
            </div>
            <div class="card-body">
              <h5 class="card-title mb-2">Business Statistics and Reporting</h5>
              <p class="card-text">Our business dashboard helps you to understand your booking statistics and take action to approve your earnings.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    
  <section class="slice">
    <div class="container">
      <div class="mb-5 text-center">
        <h3 class="heading h2">Select A Plan</h3>
        <div class="fluid-paragraph text-center">
          <p class="lead mb-0">Choose the best solution for your business.</p>
        </div>
      </div>
      <div class="card-deck mb-3">
        <div class="card card-pricing text-center px-3 mb-4">
          <div class="card-header py-4">
            <h4 class="mb-4">Free</h4>
            <h1 class="display-4 text-primary text-center">$0</h1>
            <span class="h6 text-muted">per month</span>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mb-4">
              <li>Business profile page</li>
              <li>Calendar</li>
              <li>Up to 15 bookings per month</li>
            </ul>
            <%= link_to 'Start Free', '#', class: "btn btn-main mb-3"%>
          </div>
        </div>
        <div class="card card-pricing popular text-center px-3 mb-4 z-depth-3">
          <div class="card-header py-4">
            <h4 class="mb-4">Basic Plan</h4>
            <h1 class="display-4 text-primary text-center">$5</h1>
            <span class="h6 text-muted">per month</span>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mb-4">
              <li>Business profile page and calendar</li>
              <li>Unlimited bookings per month</li>
              <li>Automated client SMS / email reminders</li>
            </ul>
            <%= link_to 'Start Free Trial', '#', class: "btn btn-main mb-3"%>
          </div>
        </div>
        <div class="card card-pricing text-center px-3 mb-4">
          <div class="card-header py-4">
            <h4 class="mb-4">Professional Plan</h4>
            <h1 class="display-4 text-primary text-center">$10</h1>
            <span class="h6 text-muted">per month</span>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mb-4">
              <li>All Basic Plan features</li>
              <li>Allow clients to pay online</li>
              <li>Monthly earnings reports</li>
            </ul>
            <%= link_to 'Start Free Trial', '#', class: "btn btn-main mb-3"%>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>