<body class = "business-background">
  <div class = "container homepage-header">
    <div class = "row">
      <div class = "col-md-6 header-home-left">
        <br />
        <h1 class = "homepage-heading">Style begins here.</h1>
        <h3 class = "homepage-subheading"> Book the best beauty, barber, fashion, and style experts.</h3>
        <br /><br />
        <div class="form-group">
          <div class="row mb-4">
            <div class="col-md-6">
              <div class = "input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Search keyword ..." aria-label="Search keyword" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="col-md-6">
              <div class = "input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-map-marker"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Search location ..." aria-label="Search location" aria-describedby="basic-addon1">
              </div>          
            </div>
          </div>
        </div>
      </div>
      <div class = "col-md-6">
        <%= image_tag "hair.jpg", class: "img-fluid"%>
      </div>
    </div>
  </div>

  <section class="homepage-stretch bg-lighter border-top border-bottom" id="scrollToSection">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center">
        <span class="homepage-stretch-header heading ml-3 mb-0">Are you a beauty or style professional? Use our booking platform to bring your business online.</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Sign Up Free', new_user_registration_path, class: 'btn btn-primary float-right'%>
        &nbsp;&nbsp;&nbsp;<%= link_to 'Learn More', business_path, class: 'btn btn-outline-primary float-right'%> 
      </div>
    </div>
  </section>

  <section>
    <div class = "container image-homepage">
      <h2 class = "text-center">Browse Hair Stylists and Beauty Professionals</h2>
      <div class = "row">
        <div class = "col-lg-4 col-md-6 col-sm-12 image-box">
          <%= image_tag 'nails.jpg', class: "img-fluid home-img" %>
          <div class = "middle">
            <div class = "image-text">Nail Technicians</div><br/>
            <%= link_to "Explore", '#', class: "btn btn-sm btn-main"%>
          </div>
        </div>
        <div class = "col-lg-4 col-md-6 col-sm-12 image-box">
          <%= image_tag 'makeup.jpg', class: "img-fluid home-img" %>
          <div class = "middle">
            <div class = "image-text">Makeup Artists</div><br/>
            <%= link_to "Explore", '#', class: "btn btn-sm btn-main"%>
          </div>
        </div>
        <div class = "col-lg-4 col-md-6 col-sm-12 image-box">
          <%= image_tag 'hair.jpg', class: "img-fluid home-img" %>
          <div class = "middle">
            <div class = "image-text">Hair Salons</div><br/>
            <%= link_to "Explore", '#', class: "btn btn-sm btn-main"%>
          </div>
        </div>
        <div class = "col-lg-4 col-md-6 col-sm-12 image-box">
          <%= image_tag 'spa.jpg', class: "img-fluid home-img" %>
          <div class = "middle">
            <div class = "image-text">Estheticians</div><br/>
            <%= link_to "Explore", '#', class: "btn btn-sm btn-main"%>
          </div>
        </div>
        <div class = "col-lg-4 col-md-6 col-sm-12 image-box">
          <%= image_tag 'barber.jpg', class: "img-fluid home-img" %>
          <div class = "middle">
            <div class = "image-text">Barbers</div><br/>
            <%= link_to "Explore", '#', class: "btn btn-sm btn-main"%>
          </div>
        </div>
        <div class = "col-lg-4 col-md-6 col-sm-12 image-box">
          <%= image_tag 'photographer.jpg', class: "img-fluid home-img" %>
          <div class = "middle">
            <div class = "image-text">Photographers</div><br/>
            <%= link_to "Explore", '#', class: "btn btn-sm btn-main"%>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="clear"></div>
</body>