<% title "Confirm Your Account" %>
<br />
<br />
<div class="container-fluid login">
  <h1 class = "text-center">Resend Confirmation Instructions</h1>
  <div class = "text-center">
    <%= image_tag "underline.png", class: "img-fluid"%>
  </div>
  <br /><br />
  <div class = "col-lg-6 col-sm-10 offset-lg-3 offset-sm-1">
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

      <div class="field">
        <%= f.input :email, label: "Enter Email Address", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
      </div>

      <div class="actions">
        <%= button_tag(type: 'submit', class: 'btn btn-main float-right') do %>
          <span class = "btn-inner--icon"><i class="fas fa-user"></i></span>&nbsp;&nbsp;&nbsp;<span class = "btn-inner--text">Resend Confirmation Instructions</span>
        <% end %>
      </div>
      <div class = "float-left">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
