<div class = "login-background">
  <br/>
  <div class="container-fluid login login-box col-lg-4 col-sm-10 offset-lg-4 offset-sm-1">
    <h2 class = "text-center">Sign Up Your Business</h2>
    <h5 class = "text-center text-muted">Bring your business online, accept bookings and deposits, and manage your calendar.</h5>
    <br />
    <h6 class = "text-center text-muted">Are you a client seeking to make a booking with a stylist? Sign up <%= link_to 'here', new_client_registration_path %>.</h6>
    <br />
      <div class = "form-group ">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="field">
            <%= f.input :email, label: false, placeholder: "Email Address", autofocus: true, autocomplete: "email", class: "form-control", input_html: {class: 'form-control form-control-sm', type: "text"} %>
          </div>

          <div class="field">
            <%= f.input :password, label: false, placeholder: "Password", autocomplete: "off", class: "form-control", input_html: {id: "password", class: "form-control-sm", "data-toggle": "tooltip", "data-placement": "right", title: "#{@minimum_password_length} characters minimum"} %>
            <div id="capslockdiv" style="display: none; color: red; font-weight: 600;"> WARNING: Caps Lock is on </div>
          </div>

          <div class="field">
            <%= f.input :password_confirmation, label: false, placeholder: "Repeat Password", autocomplete: "off", class: "form-control", input_html: {id: "password", class: "form-control-sm"}  %>
          </div>
          <br />
          <div class="actions">
            <%= button_tag(type: 'submit', class: 'btn btn-primary btn-block') do %>
              <span class = "btn-inner--icon"><i class="fas fa-user"></i></span>&nbsp;&nbsp;&nbsp;<span class = "btn-inner--text">Join Now</span>
            <% end %>
          </div>
          <br />
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $('#password').keypress(function(e) {
    var s = String.fromCharCode( e.which );
    if ( s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey ) {
      $('#capslockdiv').show();
    }
    else { 
      $('#capslockdiv').hide();
    }
  });

  $("#new_user").validate();
</script>