<br />
<br />
<div class="container-fluid login">
  <h1 class = "text-center">Change Your Password</h1>
  <div class = "text-center">
    <%= image_tag "underline.png", class: "img-fluid"%>
  </div>
  <br /><br />

  <div class = "col-lg-6 col-sm-10 offset-lg-3 offset-sm-1">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Change my password", class: "btn btn-main float-right" %>
      </div>
      <div class = "float-left">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
