<div class = "vendor-sign-up-header text-center">
    <h1>Take your business online. </h1>
    <h4>Register your company to get started.</h4>
</div>
<section class = "vendor-sign-up">
    <div class="col-md-8 offset-2 sign-up-form">
      <div class = "form-group">
        <%= simple_form_for @vendor, url: vendors_path do |f| %>
          <%= f.input :name, label: "Company Name", input_html: {class: "form-control form-control-sm" }%>          
          <div class = "row">
            <div class = "col-md-4">
              <%= f.input :city, input_html: {class: "form-control form-control-sm"} %>
            </div>
            <div class = "col-md-4">
              <%= f.input :country, only: ["BS", "TT", "TC", "JM", "BB", "AG"], input_html: {class: 'selectpicker line-height', title: "Select a Country", "data-live-search": true, "data-live-search-placeholder": "Search..." } %>
              </div>
              <div class = "col-md-4">
                <%= f.input :zip, input_html: {class: "form-control form-control-sm"} %>
              </div>
            </div>
          <%= f.input :address, label: "Street Address", input_html: {class: "form-control form-control-sm"} %>  
          <div class = "row">
            <div class = "col-md-6">
              <%= f.input :phone1, label: "Primary Phone", input_html: {class: "form-control form-control-sm"} %>
            </div>
            <div class = "col-md-6">
              <%= f.input :phone2, label: "Secondary Phone", input_html: {class: "form-control form-control-sm"} %>
            </div>
          </div>
          <div class = "row">
            <div class = "col-md-6">
              <%= f.input :facebook, label: "Company Facebook URL", input_html: {class: "form-control form-control-sm"} %>
            </div>
            <div class = "col-md-6">
              <%= f.input :website, label: "Company Website URL", input_html: {class: "form-control form-control-sm"} %>
            </div>
          </div>
          <div class = "row">
            <div class = "col-md-12">
              <%= f.input :consent, label: "By checking this box, you agree to Enstyle.me Terms and Conditions." %>
            </div>
          </div>
        <%= f.submit "Next", class: 'btn btn-primary float-right' %> 
        <% end %>
      </div>
      <br /><br /><br /><br />
</section>

<script>
  $("#vendor_phone1").intlTelInput({
    preferredCountries: ["bs", "tt", "tc", "jm", "bb", "ag"],
    formatOnDisplay: true,
    nationalMode: false,
    hiddenInput: "full_phone",
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.15/js/utils.js"
});
  $("#vendor_phone2").intlTelInput({
    preferredCountries: ["bs", "tt", "tc", "jm", "bb", "ag"],
    formatOnDisplay: true,
    nationalMode: false,
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.15/js/utils.js"
});

$("form").submit(function() {
  $('#country').val($('#country').intlTelInput("getNumber"));
});

</script>
