<body style="background-image:url("smiling-min.jpg");background-color: #cccccc;">
    <div class = "vendor-sign-up col-md-6 offset-3">
        <h1 class = "text-center">Take your business online. </h1>
        <h4 class = "text-center">Register your company to get started.</h4>
        <br />
      <div class = "form-group">
        <%= simple_form_for @vendor, url: vendors_path do |f| %>
          <div class = "row">
            <div class = "col-md-6">
              <%= f.input :first_name, label: false, placeholder: "Your First Name", input_html: {class: "form-control"} %>
            </div>
             <div class = "col-md-6">
              <%= f.input :last_name, label: false, placeholder: "Your Surname", input_html: {class: "form-control"} %>
            </div>
          </div>
          <div class = "row">
            <div class = "col-md-6">
              <%= f.input :name, label: false, placeholder: "Company Name", input_html: {class: "form-control" }%>
            </div>
            <div class = "col-md-6">
              <%= f.association :category, label: false, prompt:"Select a Category", label_method: :name, value_method: :id, input_html: {class: 'form-control select' }%>
            </div>
          </div>            
          <div class = "row">
            <div class = "col-md-4">
              <%= f.input :city, label: false, placeholder: "City", input_html: {class: "form-control"} %>
            </div>
            <div class = "col-md-4">
              <%= f.input :country, label: false, prompt: "Select a Country", only: ["BS", "TT", "TC", "JM", "BB", "AG"], input_html: {class: 'form-control' } %>
              </div>
              <div class = "col-md-4">
                <%= f.input :zip, label: false, placeholder: "Zip or P.O. Box", input_html: {class: "form-control "} %>
              </div>
            </div>
          <%= f.input :address, label: false, placeholder: "Street Address", input_html: {class: "form-control"} %>  
          <div class = "row">
            <div class = "col-md-6">
              <%= f.input :phone1, label: "Primary Phone", input_html: {class: "form-control"} %>
            </div>
            <div class = "col-md-6">
              <%= f.input :phone2, label: "Secondary Phone", input_html: {class: "form-control"} %>
            </div>
          </div>
          <div class = "row">
            <div class = "col-md-6">
              <%= f.input :facebook, label: false, placeholder: "Company Facebook URL", input_html: {class: "form-control"} %>
            </div>
            <div class = "col-md-6">
              <%= f.input :website, label: false, placeholder: "Company Website URL", input_html: {class: "form-control"} %>
            </div>
          </div>
          <div class = "row">
            <div class = "col-md-12">
              <%= f.input :consent, label: "By checking this box, you agree to Enstyle.me Terms and Conditions." %>
            </div>
          </div>
        <%= f.submit "Next", class: 'btn btn-main float-right' %> 
        <% end %>
      </div>
    </div>
</body>
<script>
  $("#vendor_phone1").intlTelInput({
    preferredCountries: ["bs", "tt", "tc", "jm", "bb", "ag"],
    formatOnDisplay: true,
    nationalMode: false,
    hiddenInput: "full_phone",
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.15/js/utils.js"
});
  $("#vendor_phone2").intlTelInput({
    preferredCountries: ["bs", "tt", "tc", "jm", "bb", "ag"],
    formatOnDisplay: true,
    nationalMode: false,
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.15/js/utils.js"
});

$("form").submit(function() {
  $('#country').val($('#country').intlTelInput("getNumber"));
});

</script>
