<br />
<br />
<br />

<div class="container-fluid">
  <div class="vendor-profile">
    <img align="left" class="vendor-image-lg" src="http://eusic.challenges.org/wp-content/uploads/sites/6/2015/11/header-image-5.jpg"/>
    <img align="left" class="vendor-image-profile thumbnail" src="https://www.attractivepartners.co.uk/wp-content/uploads/2017/06/profile.jpg"/>
    <div class="vendor-profile-text">
      <% if current_user == current_vendor.user %>
        <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#editModal">
        Edit Profile Details
        </button>
        <button type="button" class="btn btn-sm btn-danger float-right" data-toggle="modal" data-target="#deleteProfileModal">
        Delete Profile
        </button> 
      <% end %>
      <h1><%=current_vendor.name%></h1>
      <p><%= current_vendor.city %>, <%= current_vendor.country_name %></p>
      <p>
        <%= current_vendor.address %>, 
        <% if current_vendor.zip.present? %>
          <%= current_vendor.zip %>
        <% end %>
      </p>
      <% if current_vendor.phone2.present? %>
        <p>Phone Numbers: 
        <%=current_vendor.phone1%>/<%=current_vendor.phone2%></p>
      <% else %>
        <p>Phone Number: <%=current_vendor.phone1%></p>
      <% end %>
      <% if current_vendor.company_email.present? %>
        <p>Email Address: 
        <%=current_vendor.company_email%></p>
      <% end %>
    </div>
  </div>
</div>

<br />
<br />
<div class = "vendor-services">
  <% if current_vendor.services.blank? && current_user == current_vendor.user %>
    <h2 class = 'first-service text-center'> Get your page up and running! </h2>
    <div class = 'text-center'>
      <button type="button" class="btn btn-start-light" data-toggle="modal" data-target="#serviceModal">
      Add your first Service
      </button> 
    </div>
    <div class = "col-md-8 offset-2">
      <p>By adding your individual services to your <span class = "logo-text-1">enstyle</span><span class = "logo-text-2">.me</span> page, potential clients know exactly what you offer.</p>
      <br />
      <br />
    </div>
  <% else %>
  
    <h3 class = "text-center">List of Services</h3>
    <% if current_vendor.user == current_user %>
      <div class = "text-center">
        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#serviceModal">
          Add Another Service
        </button> 
      </div>
      <br />
    <% end %>
    <% current_vendor.services.each do |service| %>
      <div class = "service-box col-md-8 offset-2">
        <% if current_vendor.user == current_user %>
          <%= link_to "Edit Service", edit_vendor_service_path(service), class: 'btn btn-primary float-right'%> 
          <%= link_to "Delete Service", vendor_service_path(current_vendor), method: :delete, data: {confirm: 'Are you sure? This action cannot be reversed.'}, class: 'btn btn-danger float-right'%>
        <% else %>
          <%= link_to "Book Now", '#', class: 'btn btn-primary float-right'%>
        <% end %>
        <h5><%= service.name %></h5>
        <h6 class = "badge badge-primary"> Duration: <%= service.hours%>hrs <%=service.minutes%>Mins</h6>
        <% if service.cost_range.present? %>
          <h6 class = "badge badge-success">Cost Range: <%= service.cost_range %></h6>
        <% end %>
        <% if service.cost_absolute.present? %>
          <h6 class = "badge badge-success">Fixed Cost: <%= service.cost_absolute %></h6>
        <% end %>
        <p class = "service-description"><%= service.description %></p>
      </div>
    <% end %>
  <% end %>
</div>

<br />
<br />
<br />

<!-- Edit Page Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModal">Edit your Page</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class = "vendor-form container-fluid">
          <%= simple_form_for @vendor, url: vendor_path(@vendor) do |f| %>
            <%= f.input :name, label: "Company Name" %>          
            <div class = "row">
              <div class = "col-md-4">
                <%= f.input :city %>
              </div>
              <div class = "col-md-4">
                <%= f.input :country, only: ["BS", "TT", "TC", "JM", "BB", "AG"] %>
              </div>
              <div class = "col-md-4">
                <%= f.input :zip %>
              </div>
            </div>
            <%= f.input :address, label: "Street Address" %>  
            <div class = "row">
              <div class = "col-md-6">
                <%= f.input :phone1, label: "Phone Number" %>
              </div>
              <div class = "col-md-6">
                <%= f.input :phone2, label: "Alternate Phone Number" %>
              </div>
            </div>
            <%= f.input :company_email %>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Save", class: 'btn btn-primary' %> 
      </div>
    <% end %>
    </div>
  </div>
</div>


<!-- Add Service Modal -->
<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="serviceModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="serviceModal">Add a Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class = "vendor-form container-fluid">
          <%= simple_form_for @service, url: vendor_services_path(@vendor) do |f| %>
            <%= f.input :name, label: "Service Name", placeholder: "e.g. Box braids" %>       
            <%= f.input :description, label: "Description of service", placeholder: 'e.g. Box braids done with kanekalon hair. Hair not included.' %>
            <div class = "row">
              <div class = "col-md-6">
                <%= f.input :hours, label: "Duration: Hrs", collection: [0, 1, 2, 3, 4, 5 , 6, 7, 8] %>
              </div>
              <div class = "col-md-6">
                <%= f.input :minutes, label: "Duration: Mins", collection: [0, 15, 30, 45]  %>
              </div>
            </div>
            <div class = "row">
              <p class = "service-modal-box text-center">If the service has a precise cost, fill out the absolute cost box. If the service has a cost range (e.g. $30 - $50), fill out the cost range. <strong>Note: If you give a cost range, users will not be able to pay you online.</strong>. Only fill out one cost field.
              <div class = "col-md-6">
                <%= f.input :cost_absolute, label: 'Cost (Absolute)'%>
              </div>
              <div class = "col-md-6">
                <%= f.input :cost_range, label: 'Cost (Range)' %>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Add Service", class: 'btn btn-primary' %> 
      </div>
    <% end %>
    </div>
  </div>
</div>

<!-- Delete Profile Modal -->
<div class="modal fade" id="deleteProfileModal" tabindex="-1" role="dialog" aria-labelledby="deleteProfileModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProfileModal">Delete Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class = "vendor-form container-fluid">
          Are you sure you want to delete your vendor profile? <strong> This action cannot be reversed.</strong>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <%= link_to 'Delete Profile', vendor_path(@vendor), method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>