    <main class="main">
      <section class="py-xl bg-cover bg-size--cover" style="background-image: url('background.jpg')">
        <span class="mask bg-secondary alpha-6"></span>
        <div class="container d-flex align-items-center no-padding">
          <div class="col">
            <div class="row justify-content-center">
              <div class="col-lg-4">
                <div class="card bg-primary text-white">
                  <div class="card-body">
                    <button type="button" class="btn btn-primary btn-nobg btn-zoom--hover mb-5">
                      <span class="btn-inner--icon"><i class="fas fa-arrow-left"></i></span>
                    </button>
                    <span class="clearfix"></span>
                    <h4 class="heading h3 text-white pt-3 pb-5">Welcome back,<br>
                      login to your account.</h4>
                    <form class="form-primary">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <%= devise_error_messages! %>
                        <div class="form-group">
                          <%= f.email_field :email, class: "form-control", type: "email", id: "input_email", placeholder: "Your email" %>
                        </div>
                      <div class="form-group">
                        <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "input_password", placeholder: "Password " %>
                      </div>
                      <div class="form-group">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                      <div class="text-right mt-4 sign-in-links">
                        New here? <%= render "devise/shared/links" %>
                      </div>
                        <%= f.submit "Log In", class: 'btn btn-block btn-lg bg-white mt-4' %>
                      <% end %>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>