<% title "Set Breaks for #{@vendor.name}" %>

<div class = "unavailability-new-page" id = "<%= @vendor.id %>">
  <h1 class = "text-center unavailability-header" id = "<%= @vendor.slug %>">Set Your Availability</h1>
  <% if @vendor.unavailabilities.blank? && current_user == @vendor.user %>
    <h4 class = "text-center teal">Step 3: Set your daily breaks.</h4> 
  <% end %>
  <p class = "text-muted text-center">Do you take a daily lunch break during your opening hours? If so, add these here. Note: later on you can add vacations and holidays.</p>

  <div class = "container-fluid">  
    <div class = "container availability-table col-lg-6 offset-lg-3 col-sm-12">
      <table class="table table-hover table-cards align-items-center ">
        <thead>
          <tr>
            <th scope="col">Day of the Week</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
<!--MONDAY -->         
        <% if availability_set?(1, @vendor.id) %>
          <tr class="bg-white" id = "monday-row">
            <th scope="row">
              <div class="media align-items-center">
                <div class="media-body">
                  <h6 class="h5 font-weight-normal mb-0">Mondays</h6>
                  <span class="font-weight-normal text-muted">Work hours: <%=   show_available(1, @vendor.id) %> </span>
                  <br/>
                  <% if unavailability_set?(1, @vendor.id) %>
                    <span class="font-weight-normal text-muted">Break time: <%=   show_unavailable(1, @vendor.id) %> </span>
                  <% end %>
                </div>
              </div>
            </th>

            <td>
              <% if unavailability_set?(1, @vendor.id) == false %>
                <div class="btn-group btn-group-toggle monday-buttons float-right" data-toggle="buttons">
                    <label class="btn btn-outline-danger active" id="close-unavailability-monday">
                        <input type="radio" name="custom-radio-2" autocomplete="off" checked> No Break
                    </label>
                    <label class="btn btn-outline-success" id="set-unavailability-monday">
                        <input type="radio" name="custom-radio-2" autocomplete="off"> Break
                    </label>
                </div>
              <% else %>
                <div class="btn-group btn-group-toggle monday-buttons float-right" data-toggle="buttons">
                    <label class="btn btn-outline-danger" id="close-unavailability-monday">
                        <input type="radio" name="custom-radio-2" autocomplete="off" id = "<%= @vendor.unavailabilities.where(day: 1).ids[0] %>"> No Break
                    </label>
                    <label class="btn btn-outline-success active" id="set-unavailability-monday" >
                        <input type="radio" name="custom-radio-2" autocomplete="off" checked> Break
                    </label>
                </div>
              <% end %>
            </td>
          </tr>
          <tr class = "grey-background monday-tr">
            <td colspan="2" id= "un-form-monday">
              <div class = "form-group">
                <%= simple_form_for @unavailability, url: vendor_unavailabilities_path(@vendor), html: {id: "monday-form-un"}, remote: true do |f| %>
                  <%= f.input :day, as: :hidden, label: false, input_html: { value: 1, class: "monday-day" } %>
                  <%=f.time_select :break_start, label: "Start Time", class: "monday-start-time",
                    :combined => true,
                    :default => Time.current.change(:hour => 8, :min => 00),
                    :minute_interval => 30,
                    :time_separator => "",
                    :start_hour => 6,
                    :start_minute => 00,
                    :end_hour => 22,
                    :end_minute => 30,
                    :ampm => true
                  %>
                  &nbsp; to &nbsp;
                  <%=f.time_select :break_end, class: "monday-end-time",
                    :combined => true,
                    :default => Time.current.change(:hour => 22, :min => 00),
                    :minute_interval => 30,
                    :time_separator => "",
                    :start_hour => 6,
                    :start_minute => 00,
                    :end_hour => 22,
                    :end_minute => 30,
                    :ampm => true
                    %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
<!--TUESDAY -->
        <% if availability_set?(2, @vendor.id) %>             
          <tr class="table-divider"></tr>
          <tr class="bg-white" id = "tuesday-row">
            <th scope="row">
              <div class="media align-items-center">
                <div class="media-body">
                  <h6 class="h5 font-weight-normal mb-0">Tuesdays</h6>
                  <span class="font-weight-normal text-muted">Work hours: <%=   show_available(2, @vendor.id) %> </span>
                  <br/>
                  <% if unavailability_set?(2, @vendor.id) %>
                    <span class="font-weight-normal text-muted">Break time: <%=   show_unavailable(2, @vendor.id) %> </span>
                  <% end %>
                </div>
              </div>
            </th>

            <td>
              <% if unavailability_set?(2, @vendor.id) == false %>
                <div class="btn-group btn-group-toggle tuesday-buttons float-right" data-toggle="buttons">
                    <label class="btn btn-outline-danger active" id="close-unavailability-tuesday">
                        <input type="radio" name="custom-radio-2" autocomplete="off" checked> No Break
                    </label>
                    <label class="btn btn-outline-success" id="set-unavailability-tuesday">
                        <input type="radio" name="custom-radio-2" autocomplete="off"> Break
                    </label>
                </div>
              <% else %>
                <div class="btn-group btn-group-toggle tuesday-buttons float-right" data-toggle="buttons">
                    <label class="btn btn-outline-danger" id="close-unavailability-tuesday">
                        <input type="radio" name="custom-radio-2" autocomplete="off" id = "<%= @vendor.unavailabilities.where(day: 2).ids[0] %>"> No Break
                    </label>
                    <label class="btn btn-outline-success active" id="set-unavailability-tuesday" >
                        <input type="radio" name="custom-radio-2" autocomplete="off" checked> Break
                    </label>
                </div>
              <% end %>
            </td>
          </tr>
          <tr class = "grey-background tuesday-tr">
            <td colspan="2" id= "un-form-tuesday">
              <%= simple_form_for @unavailability, url: vendor_unavailabilities_path(@vendor), html: {id: "tuesday-form-un"}, remote: true do |f| %>
                <%= f.input :day, as: :hidden, label: false, input_html: { value: 2, class: "tuesday-day" } %>
                <%=f.time_select :break_start, label: "Start Time", class: "tuesday-start-time",
                  :combined => true,
                  :default => Time.now.change(:hour => 8, :min => 00),
                  :minute_interval => 30,
                  :time_separator => "",
                  :start_hour => 6,
                  :start_minute => 00,
                  :end_hour => 22,
                  :end_minute => 30,
                  :ampm => true
                %>
              &nbsp; to &nbsp;
                <%=f.time_select :break_end, class: "tuesday-end-time",
                  :combined => true,
                  :default => Time.now.change(:hour => 22, :min => 00),
                  :minute_interval => 30,
                  :time_separator => "",
                  :start_hour => 6,
                  :start_minute => 00,
                  :end_hour => 22,
                  :end_minute => 30,
                  :ampm => true
                  %>
              <% end %>
            </td>
          </tr>
        <% end %>
<!--WEDNESDAY --> 
        <% if availability_set?(3, @vendor.id) %>
          <tr class="table-divider"></tr>
          <tr class="bg-white" id = "wednesday-row">
            <th scope="row">
              <div class="media align-items-center">
                <div class="media-body">
                  <h6 class="h5 font-weight-normal mb-0">Wednesdays</h6>
                  <span class="font-weight-normal text-muted">Work hours: <%=   show_available(3, @vendor.id) %> </span>
                  <br/>
                  <% if unavailability_set?(3, @vendor.id) %>
                    <span class="font-weight-normal text-muted">Break time: <%=   show_unavailable(3, @vendor.id) %> </span>
                  <% end %>
                </div>
              </div>
            </th>

            <td>
              <% if unavailability_set?(3, @vendor.id) == false %>
                <div class="btn-group btn-group-toggle wednesday-buttons float-right" data-toggle="buttons">
                    <label class="btn btn-outline-danger active" id="close-unavailability-wednesday">
                        <input type="radio" name="custom-radio-2" autocomplete="off" checked> No Break
                    </label>
                    <label class="btn btn-outline-success" id="set-unavailability-wednesday">
                        <input type="radio" name="custom-radio-2" autocomplete="off"> Break
                    </label>
                </div>
              <% else %>
                <div class="btn-group btn-group-toggle wednesday-buttons float-right" data-toggle="buttons">
                    <label class="btn btn-outline-danger" id="close-unavailability-wednesday">
                        <input type="radio" name="custom-radio-2" autocomplete="off" id = "<%= @vendor.unavailabilities.where(day: 3).ids[0] %>"> No Break
                    </label>
                    <label class="btn btn-outline-success active" id="set-unavailability-wednesday" >
                        <input type="radio" name="custom-radio-2" autocomplete="off" checked> Break
                    </label>
                </div>
              <% end %>
            </td>
          </tr>
          <tr class = "grey-background wednesday-tr">
            <td colspan="2" id= "un-form-wednesday">
            <%= simple_form_for @unavailability, url: vendor_unavailabilities_path(@vendor), html: {id: "wednesday-form-un"},  remote: true do |f| %>
                <%= f.input :day, as: :hidden, label: false, input_html: { value: 3, class: "wednesday-day"} %>
                <%=f.time_select :break_start, label: "Start Time", class: "wednesday-start-time",
                  :combined => true,
                  :default => Time.now.change(:hour => 8, :min => 00),
                  :minute_interval => 30,
                  :time_separator => "",
                  :start_hour => 6,
                  :start_minute => 00,
                  :end_hour => 22,
                  :end_minute => 30,
                  :ampm => true
                %>
              &nbsp; to &nbsp;
                <%=f.time_select :break_end, class: "wednesday-end-time",
                  :combined => true,
                  :default => Time.now.change(:hour => 22, :min => 00),
                  :minute_interval => 30,
                  :time_separator => "",
                  :start_hour => 6,
                  :start_minute => 00,
                  :end_hour => 22,
                  :end_minute => 30,
                  :ampm => true
                  %>
            <% end %>
            </td>
          </tr>
        <% end %>
<!--THURSDAY --> 
        <% if availability_set?(4, @vendor.id) %>         
          <tr class="table-divider"></tr>
          <tr class="bg-white" id = "thursday-row">
            <th scope="row">
              <div class="media align-items-center">
                <div class="media-body">
                  <h6 class="h5 font-weight-normal mb-0">Thursdays</h6>
                  <span class="font-weight-normal text-muted">Work hours: <%=   show_available(4, @vendor.id) %> </span>
                  <br/>
                  <% if unavailability_set?(4, @vendor.id) %>
                    <span class="font-weight-normal text-muted">Break time: <%=   show_unavailable(4, @vendor.id) %> </span>
                  <% end %>
                </div>
              </div>
            </th>
            <td>
              <% if unavailability_set?(4, @vendor.id) == false %>
                <div class="btn-group btn-group-toggle thursday-buttons float-right" data-toggle="buttons">
                    <label class="btn btn-outline-danger active" id="close-unavailability-thursday">
                        <input type="radio" name="custom-radio-2" autocomplete="off" checked> No Break
                    </label>
                    <label class="btn btn-outline-success" id="set-unavailability-thursday">
                        <input type="radio" name="custom-radio-2" autocomplete="off"> Break
                    </label>
                </div>
              <% else %>
                <div class="btn-group btn-group-toggle thursday-buttons float-right" data-toggle="buttons">
                    <label class="btn btn-outline-danger" id="close-unavailability-thursday">
                        <input type="radio" name="custom-radio-2" autocomplete="off" id = "<%= @vendor.unavailabilities.where(day: 4).ids[0] %>"> No Break
                    </label>
                    <label class="btn btn-outline-success active" id="set-unavailability-thursday" >
                        <input type="radio" name="custom-radio-2" autocomplete="off" checked> Break
                    </label>
                </div>
              <% end %>
            </td>
          </tr>
          <tr class = "grey-background thursday-tr">
            <td colspan="2" id= "un-form-thursday">
            <%= simple_form_for @unavailability, url: vendor_unavailabilities_path(@vendor), html: {id: "thursday-form-un"}, remote: true do |f| %>
              <%= f.input :day, as: :hidden, label: false, input_html: { value: 4, class: "thursday-day" } %>
              <%=f.time_select :break_start, label: "Start Time", class: "thursday-start-time",
                :combined => true,
                :default => Time.now.change(:hour => 8, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
              %>
            &nbsp; to &nbsp;
              <%=f.time_select :break_end, class: "thursday-end-time",
                :combined => true,
                :default => Time.now.change(:hour => 22, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
                %>
            <% end %>
            </td>
          </tr>
        <% end %>

<!--FRIDAY --> 
        <% if availability_set?(5, @vendor.id) %>  
          <tr class="table-divider"></tr>
          <tr class="bg-white" id = "friday-row">
            <th scope="row">
              <div class="media align-items-center">
                <div class="media-body">
                  <h6 class="h5 font-weight-normal mb-0">Fridays</h6>
                  <span class="font-weight-normal text-muted">Work hours: <%=   show_available(5, @vendor.id) %> </span>
                  <br/>
                  <% if unavailability_set?(5, @vendor.id) %>
                    <span class="font-weight-normal text-muted">Break time: <%=   show_unavailable(5, @vendor.id) %> </span>
                  <% end %>
                </div>
              </div>
            </th>

            <td>
              <% if unavailability_set?(5, @vendor.id) == false %>
                <div class="btn-group btn-group-toggle friday-buttons float-right" data-toggle="buttons">
                    <label class="btn btn-outline-danger active" id="close-unavailability-friday">
                        <input type="radio" name="custom-radio-2" autocomplete="off" checked> No Break
                    </label>
                    <label class="btn btn-outline-success" id="set-unavailability-friday">
                        <input type="radio" name="custom-radio-2" autocomplete="off"> Break
                    </label>
                </div>
              <% else %>
                <div class="btn-group btn-group-toggle friday-buttons float-right" data-toggle="buttons">
                    <label class="btn btn-outline-danger" id="close-unavailability-friday">
                        <input type="radio" name="custom-radio-2" autocomplete="off" id = "<%= @vendor.availabilities.where(day: 5).ids[0] %>"> No Break
                    </label>
                    <label class="btn btn-outline-success active" id="set-unavailability-friday" >
                        <input type="radio" name="custom-radio-2" autocomplete="off" checked> Break
                    </label>
                </div>
              <% end %>
            </td>
          </tr>

          <tr class = "grey-background friday-tr">
            <td colspan="2" id= "un-form-friday">
            <%= simple_form_for @unavailability, url: vendor_unavailabilities_path(@vendor), html: {id: "friday-form-un"}, remote: true do |f| %>
              <%= f.input :day, as: :hidden, label: false, input_html: { value: 5, class: "friday-day" } %>
              <%=f.time_select :break_start, label: "Start Time", class: "friday-start-time",
                :combined => true,
                :default => Time.now.change(:hour => 8, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
              %>
            &nbsp; to &nbsp;
              <%=f.time_select :break_end, class: "friday-end-time",
                :combined => true,
                :default => Time.now.change(:hour => 22, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
                %>
            <% end %>
            </td>
          </tr>
        <% end %>
<!--SATURDAY -->
        <% if availability_set?(6, @vendor.id) %>   
          <tr class="table-divider"></tr>
            <tr class="bg-white" id = "saturday-row">
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <h6 class="h5 font-weight-normal mb-0">Saturdays</h6> 
                    <span class="font-weight-normal text-muted">Work hours: <%=   show_available(6, @vendor.id) %> </span>
                    <br/>
                    <% if unavailability_set?(6, @vendor.id) %>
                      <span class="font-weight-normal text-muted">Break time: <%=   show_unavailable(6, @vendor.id) %> </span>
                    <% end %>
                  </div>
                </div>
              </th>

            <td>
              <% if unavailability_set?(6, @vendor.id) == false %>
                <div class="btn-group btn-group-toggle saturday-buttons float-right" data-toggle="buttons">
                    <label class="btn btn-outline-danger active" id="close-unavailability-saturday">
                        <input type="radio" name="custom-radio-2" autocomplete="off" checked> No Break
                    </label>
                    <label class="btn btn-outline-success" id="set-unavailability-saturday">
                        <input type="radio" name="custom-radio-2" autocomplete="off"> Break
                    </label>
                </div>
              <% else %>
                <div class="btn-group btn-group-toggle saturday-buttons float-right" data-toggle="buttons">
                    <label class="btn btn-outline-danger" id="close-unavailability-saturday">
                        <input type="radio" name="custom-radio-2" autocomplete="off" id = "<%= @vendor.unavailabilities.where(day: 6).ids[0] %>"> No Break
                    </label>
                    <label class="btn btn-outline-success active" id="set-unavailability-saturday" >
                        <input type="radio" name="custom-radio-2" autocomplete="off" checked> Break
                    </label>
                </div>
              <% end %>
            </td>
          </tr>
          <tr class = "grey-background saturday-tr">
            <td colspan="2" id= "un-form-saturday">
              <%= simple_form_for @unavailability, url: vendor_unavailabilities_path(@vendor), html: {id: "saturday-form-un"}, remote: true do |f| %>
                <%= f.input :day, as: :hidden, label: false, input_html: { value: 6, class: "saturday-day" } %>
                <%=f.time_select :break_start, label: "Start Time", class: "saturday-start-time",
                  :combined => true,
                  :default => Time.now.change(:hour => 8, :min => 00),
                  :minute_interval => 30,
                  :time_separator => "",
                  :start_hour => 6,
                  :start_minute => 00,
                  :end_hour => 22,
                  :end_minute => 30,
                  :ampm => true
                %>
                &nbsp; to &nbsp;
                <%=f.time_select :break_end, class: "saturday-end-time",
                  :combined => true,
                  :default => Time.now.change(:hour => 22, :min => 00),
                  :minute_interval => 30,
                  :time_separator => "",
                  :start_hour => 6,
                  :start_minute => 00,
                  :end_hour => 22,
                  :end_minute => 30,
                  :ampm => true
                  %>
              <% end %>
            </td>
          </tr>
        <% end %>
<!--SUNDAY -->
        <% if availability_set?(0, @vendor.id) %>
          <tr class="table-divider"></tr>
          <tr class="bg-white" id = "sunday-row">
          <th scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <h6 class="h5 font-weight-normal mb-0">Sundays</h6>
                  <span class="font-weight-normal text-muted">Work hours: <%=   show_available(0, @vendor.id) %> </span>
                  <br/>
                  <% if unavailability_set?(0, @vendor.id) %>
                    <span class="font-weight-normal text-muted">Break time: <%=   show_unavailable(0, @vendor.id) %> </span>
                  <% end %>
              </div>
            </div>
          </th>
          <td>
            <% if unavailability_set?(0, @vendor.id) == false %>
              <div class="btn-group btn-group-toggle sunday-buttons float-right" data-toggle="buttons">
                  <label class="btn btn-outline-danger active" id="close-unavailability-sunday">
                      <input type="radio" name="custom-radio-2" autocomplete="off" checked> No Break
                  </label>
                  <label class="btn btn-outline-success" id="set-unavailability-sunday">
                      <input type="radio" name="custom-radio-2" autocomplete="off"> Break
                  </label>
              </div>
            <% else %>
              <div class="btn-group btn-group-toggle sunday-buttons float-right" data-toggle="buttons">
                  <label class="btn btn-outline-danger" id="close-unavailability-sunday">
                      <input type="radio" name="custom-radio-2" autocomplete="off" id = "<%= @vendor.unavailabilities.where(day: 0).ids[0] %>"> No Break
                  </label>
                  <label class="btn btn-outline-success active" id="set-unavailability-sunday" >
                      <input type="radio" name="custom-radio-2" autocomplete="off" checked> Break
                  </label>
              </div>
            <% end %>
          </td>
        </tr>
        <tr class = "grey-background sunday-tr">
          <td colspan="2" id= "un-form-sunday">
          <%= simple_form_for @unavailability, url: vendor_unavailabilities_path(@vendor), html: {id: "sunday-form-un"}, remote: true do |f| %>
            <%= f.input :day, as: :hidden, label: false, input_html: { value: 0, class: "sunday-day" } %>
            <%=f.time_select :break_start, label: "Start Time", class: "sunday-start-time",
              :combined => true,
              :default => Time.now.change(:hour => 8, :min => 00),
              :minute_interval => 30,
              :time_separator => "",
              :start_hour => 6,
              :start_minute => 00,
              :end_hour => 22,
              :end_minute => 30,
              :ampm => true
            %>
            &nbsp; to &nbsp;
            <%=f.time_select :break_end, class: "sunday-end-time",
              :combined => true,
              :default => Time.now.change(:hour => 22, :min => 00),
              :minute_interval => 30,
              :time_separator => "",
              :start_hour => 6,
              :start_minute => 00,
              :end_hour => 22,
              :end_minute => 30,
              :ampm => true
              %>
          <% end %>
          </td>
        </tr>
      <% end %>
        <tr class="table-divider"></tr>
        </tbody>
      </table>
    </div>
    <div class = "col-md-6 offset-md-3 col-sm-12">
      <button type="button" class="btn btn-outline-success float-right" id = "un-save-button">SAVE</button>
    </div>
    <div class = "clear"> </div>
    <br />
    <div class = "col-md-8 offset-md-2 col-sm-12">
      <div class = "btn-group float-right">
        <% if @vendor.unavailabilities.blank? && current_user == @vendor.user %>
          <%= link_to 'Skip', vendor_path(@vendor), class: "btn btn-outline-info"%>
          <%= link_to new_vendor_unavailability_path(@vendor), class: "btn btn-primary btn-animated btn-animated-x", id: "save-button" do %>
            <span class="btn-inner--visible">NEXT: View Your Profile</span>
            <span class="btn-inner--hidden"><i class="fas fa-arrow-right"></i></span> 
          <% end %>
        <% else %>
          <%= link_to new_vendor_availability_path(@vendor), class: "btn btn-outline-primary btn-animated btn-animated-x", id: "save-button" do %>
            <span class="btn-inner--visible">Set Your Hours</span>
            <span class="btn-inner--hidden"><i class="fas fa-arrow-left"></i></span> 
          <% end %>
          <%= link_to vendor_path(@vendor), class: "btn btn-primary btn-animated btn-animated-x", id: "save-button" do %>
            <span class="btn-inner--visible">View Company Page</span>
            <span class="btn-inner--hidden"><i class="fas fa-arrow-right"></i></span> 
          <% end %>
        <% end %>
      </div>
    </div>
  <div class = "clear"> </div>
</div>

<script>
$(document).ready(function() {
  console.log("test");
})

</script>