<% title "#{@category.name}s" %>

<div class = "category-page">
  <h1 class = "text-center category-name"> <%= @category.name %>s </h1>

  <div class = "container col-md-8 offset-md-2 col-sm-12">
    <table class="table table-hover align-items-center">
      <tbody>
        <% @category.vendors.each do |vendor| %>
          <tr class = "bg-white">
            <td scope = "row">
              <div class="media align-items-center">
                <div class = "media-body">
                  <%= link_to vendor_path(vendor) do %>
                    <h4 class = "font-weight-normal mb-0"><%= vendor.name %></h4>
                  <% end %>
                  <span class="font-weight-normal text-muted"><i class="fas fa-map-marker teal"></i> &nbsp; &nbsp; <%= vendor.city %>, <%= vendor.country %></span>
                  <p><span class = "review-positive"><i class="far fa-smile "></i></span> &nbsp;<span class = "text-muted"><strong>95% of clients had a positive experience</strong></span></p>
                  <% if vendor.description.present? %>
                    <p class = "listing-description"><%= vendor.description.truncate_words(30, omission: '...') %></p>
                  <% end %>
                </div>
              </div>
            </td>
            <td>
             <%= link_to vendor_path(vendor) do %>
                <%= image_tag vendor.profile_image.thumb_2 %>
              <% end %>
            <td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <%= will_paginate @vendors %>
  </ul>
</nav>
</div>