<div class = "availability-new-page">
  <h1 class = "text-center availability-header" id = "<%= @vendor.id %>">Set Your Availability</h1>
  <% if @vendor.availabilities.blank? && current_user == @vendor.user %>
    <h4 class = "text-center">Step 2: Set your weekly hours.</h4> 
    <p class = "text-muted text-center">Tip: Put your general daily operating hours (e.g. 9AM - 5PM) here. Later on you'll be able to add time for breaks through the day, as well as vacations and holidays.</p>
  <% end %>
  <div class = "container-fluid availability-table col-lg-6 offset-lg-3 col-sm-10 offset-sm-1">
    <table class="table table-hover table-cards align-items-center ">
      <thead>
        <tr>
          <th scope="col">Day of the Week</th>
          <th scope="col"></th>
          <th scope="col">Available?</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white">
          <th scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <h6 class="h5 font-weight-normal mb-0">Monday</h6> 
                <span class = "text-muted" id = "monday-times" data-update-url = "<%= vendor_availabilities_path(@vendor, @availability) %>">
                  <%= show_available(0, @vendor.id) %>
                </span>
                <% if availability_set?(0, @vendor.id) %>
                  <%= link_to '#', id: "monday-edit-button" do %>
                    <i class="far fa-edit"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </th>
          <td >
          </td>
          <td>
          <div class = "monday-buttons">
            <% if availability_set?(0, @vendor.id) %>
             
                <%= link_to "Delete", vendor_availability_path(@vendor, current_availability(0, @vendor)), method: :delete, remote: true, id: "monday-button-delete" %>
              
            <% else %>
              <label class="toggle-switch">
                <input type="checkbox">
                <span class="toggle-switch-slider rounded-circle" id= "toggle-monday"></span>
              </label>
            <% end %>
          </div>
          </td>
        </tr>
        <tr class = "grey-background monday-tr">
          <td colspan="3" id= "form-monday">
          <%= simple_form_for @availability, url: vendor_availabilities_path(@vendor), id: "#monday-form" do |f| %>
            <%= f.input :day, as: :hidden, label: false, input_html: { value: 0 } %>
            <%=f.time_select :day_start, label: "Start Time",
              :combined => true,
              :default => Time.now.change(:hour => 8, :min => 00),
              :minute_interval => 30,
              :time_separator => "",
              :start_hour => 6,
              :start_minute => 00,
              :end_hour => 22,
              :end_minute => 30,
              :ampm => true
            %>
            &nbsp; to &nbsp;
            <%=f.time_select :day_end,
              :combined => true,
              :default => Time.now.change(:hour => 22, :min => 00),
              :minute_interval => 30,
              :time_separator => "",
              :start_hour => 6,
              :start_minute => 00,
              :end_hour => 22,
              :end_minute => 30,
              :ampm => true
              %>
            <%= button_tag type: 'submit', class: 'btn btn-sm btn-primary', id: "monday-submit" do %>
              Save
            <% end %>
          <% end %>
          </td>
        </tr>
        <tr class="table-divider"></tr>
        <tr class="bg-white">
          <th scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <h6 class="h5 font-weight-normal mb-0">Tuesday</h6>
              </div>
            </div>
          </th>
          <td>
          
          </td>
          <td>
          <label class="toggle-switch">
              <input type="checkbox">
              <span class="toggle-switch-slider" id= "toggle-tuesday"></span>
          </label>
          </td>
        </tr>
        <tr class = "bg-white">
          <td colspan="2" id= "form-tuesday">
          <%= simple_form_for @availability, url: vendor_availabilities_path(@vendor) do |f| %>
          <div class = "row">
            <div class = "col-md-4">
              <p>Hours from:</p>
              <%= f.input :day, as: :hidden, label: false, input_html: { value: 1 } %>
              <%=f.time_select :day_start, label: "Start Time",
                :combined => true,
                :default => Time.now.change(:hour => 8, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
              %>
            &nbsp; to &nbsp;
              <%=f.time_select :day_end,
                :combined => true,
                :default => Time.now.change(:hour => 22, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
                %>
            </div>
            <%= button_tag type: 'submit', class: 'btn btn-sm btn-main' do %>
              <i class="fas fa-plus-circle float-right" style = "font-size:1em;"></i>
            <% end %>
          <% end %>
          </td>
        </tr>
        <tr class="table-divider"></tr>
        <tr class="bg-white">
          <th scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <h6 class="h5 font-weight-normal mb-0">Wednesday</h6>
              </div>
            </div>
          </th>
          <td>
          
          </td>
          <td>
          <label class="toggle-switch">
              <input type="checkbox">
              <span class="toggle-switch-slider" id= "toggle-wednesday"></span>
          </label>
          </td>
        </tr>
        <tr class = "bg-white">
          <td colspan="3" id= "form-wednesday">
          <%= simple_form_for @availability, url: vendor_availabilities_path(@vendor) do |f| %>
          <div class = "row">
            <div class = "col-md-4">
              <p>Hours from:</p>
              <%= f.input :day, as: :hidden, label: false, input_html: { value: 2 } %>
              <%=f.time_select :day_start, label: "Start Time",
                :combined => true,
                :default => Time.now.change(:hour => 8, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
              %>
            &nbsp; to &nbsp;
              <%=f.time_select :day_end,
                :combined => true,
                :default => Time.now.change(:hour => 22, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
                %>
            </div>
            <%= button_tag type: 'submit', class: 'btn btn-sm btn-main' do %>
              <i class="fas fa-plus-circle float-right" style = "font-size:1em;"></i>
            <% end %>
          <% end %>
          </td>
        </tr>
        <tr class="table-divider"></tr>

        <tr class="bg-white">
          <th scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <h6 class="h5 font-weight-normal mb-0">Thursday</h6>
              </div>
            </div>
          </th>
          <td>
          
          </td>
          <td>
          <label class="toggle-switch">
              <input type="checkbox">
              <span class="toggle-switch-slider" id= "toggle-thursday"></span>
          </label>
          </td>
        </tr>
        <tr class = "bg-white">
          <td colspan="3" id= "form-thursday">
          <%= simple_form_for @availability, url: vendor_availabilities_path(@vendor) do |f| %>
          <div class = "row">
            <div class = "col-md-4">
              <p>Hours from:</p>
              <%= f.input :day, as: :hidden, label: false, input_html: { value: 3 } %>
              <%=f.time_select :day_start, label: "Start Time",
                :combined => true,
                :default => Time.now.change(:hour => 8, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
              %>
            &nbsp; to &nbsp;
              <%=f.time_select :day_end,
                :combined => true,
                :default => Time.now.change(:hour => 22, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
                %>
            </div>
            <%= button_tag type: 'submit', class: 'btn btn-sm btn-main' do %>
              <i class="fas fa-plus-circle float-right" style = "font-size:1em;"></i>
            <% end %>
          <% end %>
          </td>
        </tr>
        <tr class="table-divider"></tr>
        <tr class="bg-white">
          <th scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <h6 class="h5 font-weight-normal mb-0">Friday</h6>
              </div>
            </div>
          </th>
          <td>
          
          </td>
          <td>
          <label class="toggle-switch">
              <input type="checkbox">
              <span class="toggle-switch-slider" id= "toggle-friday"></span>
          </label>
          </td>
        </tr>
        <tr class = "bg-white">
          <td colspan="3" id= "form-friday">
          <%= simple_form_for @availability, url: vendor_availabilities_path(@vendor) do |f| %>
          <div class = "row">
            <div class = "col-md-4">
              <p>Hours from:</p>
              <%= f.input :day, as: :hidden, label: false, input_html: { value: 4 } %>
              <%=f.time_select :day_start, label: "Start Time",
                :combined => true,
                :default => Time.now.change(:hour => 8, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
              %>
            &nbsp; to &nbsp;
              <%=f.time_select :day_end,
                :combined => true,
                :default => Time.now.change(:hour => 22, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
                %>
            </div>
            <%= button_tag type: 'submit', class: 'btn btn-sm btn-main' do %>
              <i class="fas fa-plus-circle float-right" style = "font-size:1em;"></i>
            <% end %>
          <% end %>
          </td>
        </tr>
        <tr class="table-divider"></tr>
        <tr class="bg-white">
          <th scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <h6 class="h5 font-weight-normal mb-0">Saturday</h6>
              </div>
            </div>
          </th>
          <td>
          
          </td>
          <td>
          <label class="toggle-switch">
              <input type="checkbox">
              <span class="toggle-switch-slider" id= "toggle-saturday"></span>
          </label>
          </td>
        </tr>
        <tr class = "bg-white">
          <td colspan="3" id= "form-saturday">
          <%= simple_form_for @availability, url: vendor_availabilities_path(@vendor) do |f| %>
          <div class = "row">
            <div class = "col-md-4">
              <p>Hours from:</p>
              <%= f.input :day, as: :hidden, label: false, input_html: { value: 5 } %>
              <%=f.time_select :day_start, label: "Start Time",
                :combined => true,
                :default => Time.now.change(:hour => 8, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
              %>
            &nbsp; to &nbsp;
              <%=f.time_select :day_end,
                :combined => true,
                :default => Time.now.change(:hour => 22, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
                %>
            </div>
            <%= button_tag type: 'submit', class: 'btn btn-sm btn-main' do %>
              <i class="fas fa-plus-circle float-right" style = "font-size:1em;"></i>
            <% end %>
          <% end %>
          </td>
        </tr>
        <tr class="table-divider"></tr>
          <tr class="bg-white">
          <th scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <h6 class="h5 font-weight-normal mb-0">Sunday</h6>
              </div>
            </div>
          </th>
          <td>
          
          </td>
          <td>
          <label class="toggle-switch">
              <input type="checkbox">
              <span class="toggle-switch-slider" id= "toggle-sunday"></span>
          </label>
          </td>
        </tr>
        <tr class = "bg-white">
          <td colspan="3" id= "form-sunday">
          <%= simple_form_for @availability, url: vendor_availabilities_path(@vendor) do |f| %>
          <div class = "row">
            <div class = "col-md-4">
              <p>Hours from:</p>
              <%= f.input :day, as: :hidden, label: false, input_html: { value: 6 } %>
              <%=f.time_select :day_start, label: "Start Time",
                :combined => true,
                :default => Time.now.change(:hour => 8, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
              %>
            &nbsp; to &nbsp;
              <%=f.time_select :day_end,
                :combined => true,
                :default => Time.now.change(:hour => 22, :min => 00),
                :minute_interval => 30,
                :time_separator => "",
                :start_hour => 6,
                :start_minute => 00,
                :end_hour => 22,
                :end_minute => 30,
                :ampm => true
                %>
            </div>
            <%= button_tag type: 'submit', class: 'btn btn-sm btn-main' do %>
              <i class="fas fa-plus-circle float-right" style = "font-size:1em;"></i>
            <% end %>
          <% end %>
          </td>
        </tr>
        <tr class="table-divider"></tr>
      </tbody>
    </table>
    <%= link_to vendor_path(@vendor), class: "btn btn-main btn-animated btn-animated-x float-right" do %>
      <span class="btn-inner--visible">NEXT: Design your profile</span>
      <span class="btn-inner--hidden"><i class="fas fa-arrow-right"></i></span>
    <% end %>
  </div>
</div>