<!DOCTYPE html>
<html>
  <head>
    <title>Enstyle.me</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.png'), rel: 'icon', type: "image/png" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag 'logo-white.png', class: "logo" %>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
            <%= link_to "Get Started", start_path, class: 'nav-link' %>
          <% else %>
            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "For Businesses", '#', class: 'btn btn-navbar' %>
          </li>
          <li class="nav-item">
            <%= link_to "Help", '#', class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= yield %>

    <footer class="footer">
      <div class="container">
        <span>Copyright &copy; 2018 Enstyle.me </span>
      </div>
    </footer>
  </body>
</html>

<script>
  $(document).on('ready page:load', function () {
      $('#service_tag_ids').chosen({
        allow_single_deselect: true,
        width: '100%'
      })
    });
</script>