<!DOCTYPE html>
<html>
  <head>
    <title>Enstyleme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to '#', class: "navbar-brand" do %>
      <%= image_tag 'logo-white.png', class: "logo" %>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Log In", '#', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", '#', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "For Businesses", '#', class: 'btn btn-navbar' %>
        </li>
        <li class="nav-item">
          <%= link_to "Help", '#', class: 'nav-link' %>
        </li>
        </li>
      </ul>
    </div>
  </nav>
    <%= yield %>

    <footer class="footer">
      <div class="container">
        <span>Copyright &copy; 2018 Enstyle.me </span>
      </div>
    </footer>
  </body>
</html>
